.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.gridContainer {
  border-bottom: 2px solid grey;

  /* margin: 20px; */
}
.gridMain {
  padding-top: 2rem;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgb(200, 150, 247);
  /* background-color: rgb(246, 239, 239); */
  margin: 0%;
  /* margin-bottom: 50vh; */
  z-index: 1;
}
.gridChild {
  margin-top: 10%;
  margin-bottom: 8%;
}
.search {
  margin-bottom: 2rem;
  width: 80%;
  height: 2rem;
  margin-bottom: 10px;
  background-color: #ffffff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
